block cookie
	section.cookie
		.col-lg-1.col-md-1.col-sm-2.hidden-xs
			img(src="/images/icons/cookie_chocolate.png")
		.col-lg-10.col-md-10.col-sm-8.col-xs-12
			.text #{intl("cookie.text")}
				a(href="/cookie-policy") #{intl("cookie.here")}
				| !
				| #{intl("cookie.continueText")}
			span.fa.fa-close.btn-close
		.col-lg-1.col-md-1.col-sm-2.hidden-xs.text-right
			img(src="/images/icons/cookie.png")
