doctype html
html(lang="ru")
	head
		meta(charset='utf-8')
		meta(http-equiv="content-language" content="en")
		meta(name='viewport' content='width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no')
		meta(name='description', content=description)
		meta(name='keywords',  content=keywords)
		meta(name='author', content='Buinovsky Vladislav')
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name='copyright', content='Copyright (c) '+new Date().getFullYear()+' Gendree.com')
		meta(name="apple-mobile-web-app-title" content="Gendree")
		meta(name="apple-mobile-web-app-capable" content="yes")
		meta(name="mobile-web-app-capable" content="yes")
		meta(name="apple-mobile-web-app-status-bar-style" content="black")
		meta(name="theme-color" content="#db5945")

		title= title
		link(rel="manifest" href="/manifest.json")
		link(rel="shortcut icon" href="/favicon.ico" type="image/x-icon")
		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy", crossorigin="anonymous")
		link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
		
		if globalScss
			link(rel='stylesheet', href= globalScss )
		if commonScss
			link(rel='stylesheet', href= commonScss )
		if pageScss
			link(rel='stylesheet', href= pageScss )
		if reactCss
			link(rel='stylesheet', href= reactCss)
		base(href="/")
	body
		noscript.no-javascript
			h4 To full use of our site, enable javascript or install a modern browser
		block content
		
		if vendor
			script(src=vendor)
		if commonJs
			script(src=commonJs)
		if reactJs
			script(src=reactJs)
		if globalJs
			script(src=globalJs)
		if pageJs
			script(src=pageJs)
		if isAuth && socketJs
			script(src=socketJs)
		if globalScssJs && process.env.NODE_ENV !== "production"
			script(src=globalScssJs )
		if pageScssJs && process.env.NODE_ENV !== "production"
			script(src=pageScssJs)