@import "~scss/variables/index";

.policy-page {
  .title {
    padding-top: 20px;
    text-align: center;
  }
  
  .subtitle {
    text-align: center;
    
    .date {
      font-weight:bold;
      margin-left: 10px
    }
    
    margin-bottom: 15px;
  }
}