.navbar {
  background-color: $navbar-bg-color;
  transition: top 0.2s ease;
  &.navbar-hidden {
    top: -51px;
  }
}

.navbar-fixed-top {
  //border-width: 0;
  border-bottom: 1px solid mix($navbar-bg-color-dark, $black-color, 90);
  ;
}

.navbar-brand {
  padding: 5px 15px;
  img {
    height: 40px;
  }
}

.navbar-default {
  .navbar-nav {
    //float: left;
    li {
      a {
        color: $white-color;
        transition: color 0.2s ease;
        @include muted($white-color);
        &:hover,
        &:focus,
        &:active {
          &:not(.text-muted) {
            color: mix($brand-primary, $white-color, 70);
          }
        }
      }
      &.active {
        a {
          background-color: $navbar-bg-color-dark;
          color: $white-color;
          &:hover,
          &:focus,
          &:active {
            background-color: $navbar-bg-color-dark;
            color: mix($brand-primary, $white-color, 70);
          }
        }
      }
      &.dropdown {
        &.open {
          a {
            background-color: $navbar-bg-color-dark;
            color: $white-color;
            &:hover {
              color: mix($brand-primary, $white-color, 70);
            }
          }
        }
        .dropdown-menu {
          background-color: $navbar-bg-color-dark;
          .divider {
            background-color: mix($navbar-bg-color-dark, $black-color, 80);
          }
        }
      }
    }
  }
  .navbar-toggle {
    &:hover {
      background-color: $navbar-bg-color-dark;
    }
  }
  .navbar-collapse {
    border-color: mix($navbar-bg-color-dark, $black-color, 90);
    ;
  }
}