@import "~scss/variables/index";
.global-search {
    height: ($indents * 2) * 1px;
    position: relative;
    overflow-x: hidden;
    text-align: center;
    width: 100%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    input {
        margin: 0 auto;
        margin-top: ($indents / 2) * 1px;
        height: ($indents * 1.5) * 1px;
        padding: 5px;
        padding-left: 25px;
        width: 100%;
        border: none;
        background-color: mix($navbar-bg-color,$black-color,80);
        border: 1px solid $navbar-bg-color;
        transition: background-color ease 0.2s;
        color: $white-color;
        border-radius: 0;
        &:active,
        &:focus {
            background-color: $white-color;
            border: 1px solid $gray-darker;
            color: $black-color;
            + button{
            color: $gray
                
            }
        }
        border-radius: 25px;
    }
    button {
        position: absolute;
        top: 14px;
        left:15px;
        color: $white-color;
        background: transparent;
        border: none;
        transition: color ease 0.2s;        
    }
    @include screensize(xs, max) {
        button {
            left: 10px;
        }
    }
}