//== Colors
//
//## Gray and brand colors for use across Bootstrap.
//General color
$white-color: #ffffff;
$black-color: #000000;
$gray-base: #000 !default;
$gray-darker: lighten($gray-base, 13.5%) !default; // #222
$gray-dark: lighten($gray-base, 20%) !default; // #333
$gray: lighten($gray-base, 33.5%) !default; // #555
$gray-light: lighten($gray-base, 46.7%) !default; // #777
$gray-lighter: lighten($gray-base, 93.5%) !default; // #eee
$brand-primary: #4b99fc !default; // #337ab7
$brand-success: #05e661 !default;
$brand-info: #79ddfb !default;
$brand-warning: #f7bc68 !default;
$brand-danger: #d9534f !default;
$brand-primary-additional:mix($brand-primary, aqua, 70);
$navbar-bg-color: mix(#212650, $white-color, 90);
$navbar-bg-color-dark: mix($navbar-bg-color, $black-color, 80);
//** Global textual link color.
$link-color: $brand-primary !default;
//** Link hover color set via `darken()` function.
$link-hover-color: darken($link-color, 15%) !default;
//** Link hover decoration.
$link-hover-decoration: underline !default;
//** Block shadow color
$block-shadow-color-orange:#ffbb00;
;
$block-shadow-color-sky:$brand-info;
$block-shadow-color-mint:$brand-success;
$block-shadow-color-violet:#cd84ff;
$block-shadow-color-blue:$brand-primary;
$block-shadow-color-red:$brand-danger;
$block-shadow-color-yellow:#fff600;
$block-shadow-color-fuchsia:#ff00ff;
$block-shadow-color-green:#00ff00;
$block-shadow-color-violet:#6a00ff;
$block-shadow-color-gray:mix($white-color, $black-color, 82);
//** Company colors
$vk-color: #4d7198;
$facebook-color:#3b5998;
$twitter-color:#1faee9;
$google-plus-color:#c53929;

$chat-unread-message-color:mix($block-shadow-color-violet,$white-color,5);
$userpage-unread-message-color:mix($gray-lighter,$white-color,50);
$chat-active-color:mix($block-shadow-color-blue,$white-color,10);