@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great');
@import url('https://fonts.googleapis.com/css?family=Orbitron');
@import url('https://fonts.googleapis.com/css?family=Cantata+One');
$font-family: 'Roboto', "Helvetica Neue",Helvetica,Arial,sans-serif;