$font-size: 15;
$header-margin-top: 50;
$offset:$header-margin-top;

//mixin
@import "../mixin/mixin";
@import "~normalize-scss/sass/normalize";
@include normalize();

  //Fonts
  @import "fonts";
  @import "colors";
  @import "values";
  @import "screen";
  @import "components";
  @import "buttons";
  @import "notification";


//vendor variables 
@import "./library/library";