$notification-height:60;
$notifiation-width:300;

$notification-green: mix($black-color, $block-shadow-color-green, 20);
$notification-red: mix($black-color, $block-shadow-color-red, 20);

$notification-background-color: mix($gray-lighter, $white-color, 60);
$notification-background-color-green: mix($notification-background-color, $notification-green, 95);
$notification-background-color-red: mix($notification-background-color, $notification-red, 95);

