.footer {
    background-color: mix($navbar-bg-color, $gray-dark, 50);
    border-top: 1px solid $navbar-bg-color;
    min-height: ($block-height / 8) * 1px;
    color: $gray-lighter;
    padding-top: 15px;
    width: 100%;
    float: left; //margin-top: 20px;
    .menu {
        li {
            a {
                color: white;
                transition: color 0.2s ease;
                text-decoration: none;
                &:hover,
                &:active,
                &:focus {
                    color: $brand-primary
                }
            }
        }
        .caret-up {
            transform: rotate(-180deg);
        }
        .drop-up {
            top: auto;
            bottom: 100% !important;
            a {
                color: black;
            }
        }
        .btn {
            background: transparent;
            border: none;
            color: $white-color;
        }
    }
    .copyright {
        @media (min-width: $screen-xs-max) {
            text-align: right;
        }
    }
}