.cookie {
  position: fixed;
  z-index: 10;
  bottom: 0;
  //height:70px;
  width: 100%;
  background-color: white;
  border-top: 1px solid $gray-lighter;
  box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.175);
  animation: 2s cookieBlockOpen;
  
  &.close-block {
    animation: 4s cookieBlockClose;
  }
  .text {
    padding-top: 10px;
    font-size: 1.5rem;
    text-align: center;
  }
  
  .btn-close {
    position: absolute;
    top: 10px;
    right: 0;
    @include screensize(xs,max){
      right:3px;
    }
    font-size: 1.5rem;
    
    &:hover, &:active, &:focus {
      color: $brand-danger;
    }
  }
}

@keyframes cookieBlockOpen {
 from {
   bottom: -100%;
 }
  
  to {
    bottom: 0;
  }
}


@keyframes cookieBlockClose {
  from {
    bottom: 0;
  }
  to {
    bottom: -100%;
  }
}