@import "~react-input-range/src/scss/input-range/input-range-variables";

@mixin react-input-range-color($color){
$input-range-primary-color:$color !global;
$input-range-slider-background: $input-range-primary-color !global;
$input-range-slider-border: 1px solid $input-range-primary-color !global;
$input-range-track-active-background: $input-range-primary-color !global;
}

@include react-input-range-color($block-shadow-color-orange)