block footer
	footer.footer
		.container
			.row
				nav.col-lg-8.col-md-7.col-sm-6.col-sm-12
					ul.list-inline.menu
						if isAuth
							li
								a(href="/users") #{intl("footer.leftMenu.users")}
						if isAuth
							li
								a(href="/messages") #{intl("footer.leftMenu.messages")}
						li
							a(href="/privacy-policy") #{intl("footer.leftMenu.privacy")}
						li
							a(href="/cookie-policy") #{intl("footer.leftMenu.cookie")}
						li
							.btn-group
								button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
									| #{intl("footer.leftMenu.language.title")} 
									span.caret.caret-up
								ul.dropdown-menu.drop-up(role='menu'  id="language-menu")
									each i in [1,2]
										li
											a(class="language-btn" data-language!=intl("footer.leftMenu.language.item." + i + ".value")) #{intl("footer.leftMenu.language.item." + i + ".name")} 																			

				.col-lg-4.col-md-5.col-sm-6.col-sm-12.copyright &copy; Gendree.com, !{new Date().getFullYear()}. #{intl("footer.rightMenu.allRights")}