@import "~scss/variables/index";
.rules-page {
    background: url("/images/rules-page-bg.jpg") center center no-repeat;
    background-size: cover;
    float: left;
    margin-top: 50px;
    padding-bottom: $indents * 1px;
    color:$navbar-bg-color;
    p {
        margin-bottom: ($indents * 2) * 1px;
        font-size: 16px;
    }
    h1 {
        margin-bottom: ($indents * 2) * 1px;
    }
    table {
        margin: 0 auto;
        font-size: 16px;
        background: transparent;
        border: 2px solid $gray-light;
        tr {
            border: 2px solid $gray-light;
            td {
                width: 50%;
                padding-top: $indents * 1px !important;
                padding-bottom: $indents * 1px !important;
                border: 2px solid $gray-light;
            }

            th{
                width: 50%;
                border: 2px solid $gray-light;
                    &.success{
                            background-color: mix($block-shadow-color-green, $white-color,50);
                    } 
                     &.danger{
                            background-color: mix($block-shadow-color-red, $white-color,50);
                    }                
            }
        }
        @include screensize(sm,
        min) {
            width: 80%;
        }
    }
}