@mixin muted($color:$white-color) {
  &.text-muted {
    color: mix($color, black, 50);
  }
}

@mixin mouse-color($color) {
  color: $color;
  &:hover {
    color: mix($color, $black-color, 80);
  }
  &:active {
    color: mix($color, $black-color, 60);
  }
  &:focus {
    color: mix($color, $black-color, 80);
  }
}