@mixin screensize($px, $size:min) {
    @if $px==lg {
        // 900px
        @media screen and (min-width: $screen-lg-min) {
            @content;
        }
    }
    @else if $px==md {
        // 768px
        @if($size==min) {
            @media screen and (min-width: $screen-md-min) {
                @content;
            }
        }
        @else {
            @media screen and (max-width: $screen-md-max) {
                @content;
            }
        }
    }
    @else if $px==sm {
        // 600px
        @if($size==min) {
            @media screen and (min-width: $screen-sm-min) {
                @content;
            }
        }
        @else {
            @media screen and (max-width: $screen-sm-max) {
                @content;
            }
        }
    }
    @else if $px==xs {
        // 400px
        @if($size==min) {
            @media screen and (min-width: $screen-xs-min) {
                @content;
            }
        }
        @else {
            @media screen and (max-width: $screen-xs-max) {
                @content;
            }
        }
    }
}