@import "color";
@import "position";
@import "element";
@import "media";
@mixin shadow-box($x, $y, $blur, $color, $spread: 0) {
        box-shadow: #{$x * 1px} #{$y * 1px} #{$blur * 1px} #{$spread * 1px} $color;
}

@mixin border-bottom($size, $color) {
        border-bottom: #{$size * 1px} solid $color;
}