block header
	.header.navbar.navbar-default.navbar-fixed-top(role='navigation')
		.container
			.navbar-header
				button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href='/')
					img(src="/images/logo_small.png", alt=title)
			.navbar-collapse.collapse
				ul.nav.navbar-nav#topMenu
					if isAuth && username
						li
							a(href='/'+ username) Home
					if isAuth
						li
							a(href='/messages') #{intl("header.leftMenu.messages")}
					li
						a(href='/users') #{intl("header.leftMenu.users")}
					li
						a(href='/rules') #{intl("header.leftMenu.rules")}
					if isAuth
						li
							.global-search
								form(role='search' action="/search")
									input.form-control(type='text', placeholder!=intl("header.leftMenu.search.placeholder"), name='phrase')
									button(type='submit')
										span.fa.fa-search
				if !isAuth
					ul.nav.navbar-nav.navbar-right
						li
							a(href='/registration') #{intl("header.rightMenu.signUp")}
						li
							a(href='/login') #{intl("header.rightMenu.login")}
				else
					ul.nav.navbar-nav.navbar-right
						if username
							li.dropdown
								a.dropdown-toggle(href='#', data-toggle='dropdown')
									| #{intl("header.rightMenu.hi")}, #{username}
									span.caret
								ul.dropdown-menu(role='menu')
									li
										a(href='/'+ username) #{intl("header.rightMenu.user.page")}
									li
										a(href='/'+ username + "/message") #{intl("header.rightMenu.user.messages")}
									li
										a(href='/'+ username + "/friend") #{intl("header.rightMenu.user.friends")}
									li.divider
									li.dropdown-header #{intl("header.rightMenu.user.settings")}
									li
										a(href='/settings') #{intl("header.rightMenu.user.mySettings")}
									
							li
								a(href='/logout') #{intl("header.rightMenu.logout")}
