@import "~scss/variables/index";
@import "~selectize/dist/css/selectize.css";
$border-color: mix($gray-base, white, 18.43);
.registration {
    .field {
        @media screen and(min-width: $screen-sm-min) {
            @include shadow-box(0, 3, 10, $gray-light);
            min-height: 500px;
            margin-top: calc((100vh - 160px - 500px) / 2);
            margin-bottom: calc((100vh - 160px - 500px) / 2);
            @media screen and(max-height: 700px) {
                margin-top: $indents * 1px;
            }
        }
        .right-panel {
            @media screen and(min-width: $screen-sm-min) {
                left: 50%;
            }
        }
    }
}

.login {
    .field {
        @media screen and(min-width: $screen-sm-min) {
            @include shadow-box(0, 3, 10, $block-shadow-color-orange);
            min-height: 350px;
            margin-top: calc((100vh - 180px - 350px) / 2);
            margin-bottom: calc((100vh - 180px - 350px) / 2);
            @media screen and(max-height: 700px) {
                margin-top: $indents * 1px;
            }
        }
        .single-panel {
            h1 {
                text-align: center;
            }

            .error-msg {
                color:$notification-red;
                width: 100%;
                float: left;
                text-align: center;
                margin-bottom: $indents * 1px;
            }
            left: 0;
        }
    }
}

.restore,
.change {
    .field {
        @media screen and(min-width: $screen-sm-min) {
            @include shadow-box(0, 3, 10, $block-shadow-color-mint);
            min-height: 250px;
            margin-top: calc((100vh - 120px - 250px) / 2);
            @media screen and(max-height: 700px) {
                margin-top: $indents * 1px;
            }
        }
        .single-panel {
            h1 {
                text-align: center;
            }
            left: 0;
            .message {
                text-align: center;
                margin-top: 65px;
                padding: $indents * 1px
            }
        }
    }
}

.registration,
.login,
.restore,
.change {
    @include screensize(xs, max) {
        margin-top: $indents * 2.5px;
    }
    .field {
        position: relative;
        padding: 0;
        margin-bottom: $indents * 2px;
        .left-panel {
            @media screen and(min-width: $screen-sm-min) {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
            }
            background: url(images/join_bg1.jpeg) center center;
            background-size: cover;
            background-blend-mode: difference;
            background-color: mix(darken($block-shadow-color-blue, 30), $black-color, 100);
            color: $white-color;
            h1 {
                //text-shadow: (0 3px 10px $black-color);
                margin-top: $indents * 2px;
            }
            ol {
                @include screensize(sm, min) {
                    margin-top: ($indents * 1.5) * 1px;
                }
                li {
                    //text-shadow: (0 2px 3px $black-color);
                    margin-bottom: ($indents / 2) * 1px;
                }
            }
            .buttons {
                margin-top: $indents * 1px;
                width: 100%;
                float: left;
                text-align: center;
                a {
                    margin: $indents * 1px;
                    width: 100px;
                    &.facebook {
                        background-color: $facebook-color;
                        border-radius: 20px;
                        color: $white-color;
                        text-align: center;
                        border: none;
                        @include shadow-box(0, 3, 7, $facebook-color);
                        &:hover,
                        &:focus {
                            // border: 1px solid mix($facebook-color, $black-color, 85);
                            background-color: mix($facebook-color, $black-color, 90);
                        }
                        &:active {
                            //border: 1px solid mix($facebook-color, $black-color, 80);
                            background-color: mix($facebook-color, $black-color, 80);
                        }
                    }
                    &.google {
                        background-color: $google-plus-color;
                        border: none;
                        border-radius: 20px;
                        text-align: center;
                        color: $white-color;
                        @include shadow-box(0, 3, 7, $google-plus-color);
                        &:hover,
                        &:focus {
                            //border: 1px solid mix($google-plus-color, $black-color, 85);
                            background-color: mix($google-plus-color, $black-color, 90);
                        }
                        &:active {
                            //border: 1px solid mix($google-plus-color, $black-color, 80);
                            background-color: mix($google-plus-color, $black-color, 80);
                        }
                    }
                }
            }
        }
        .right-panel,
        .single-panel {
            float: left;
            h1 {
                margin-top: $indents * 2px;
            }
            form {
                float: left;
                margin-top: $indents * 1px;
                width: 100%;
                .parent-input {
                    margin-left: 10%;
                    width: 80%;
                    text-align: center;
                    margin-bottom: $indents * 1px;
                    float: left;
                    input,
                    select {
                        width: 100%;
                        border: 1px solid $border-color;
                        border-radius: 3px;
                        padding: 5px; //@include shadow-box(0, 3, 7, $gray-light);
                        //transition: margin-bottom 0.2s ease;
                        &.active {
                            border-color: $block-shadow-color-blue; //@include shadow-box(0, 3, 7, $block-shadow-color-blue);
                        }
                        &.error {
                            border-color: $block-shadow-color-red; //@include shadow-box(0, 3, 7, $block-shadow-color-red);
                            margin-bottom: $indents * 1.5px;
                        }
                        &.valid {
                            border-color: $block-shadow-color-mint; // @include shadow-box(0, 3, 7, $block-shadow-color-mint);
                        }
                    }
                    select {
                        padding: 7px 5px;
                    }
                    &.password {
                        position: relative;
                        input {
                            padding-right: 30px;
                        }
                        .show-password {
                            visibility: visible;
                            opacity: 1;
                            position: absolute;
                            top: 5px;
                            border: 0;
                            background: none;
                            right: 7px;
                            transition: opacity 0.2s ease-in-out, visibility 0.2s;
                            span {
                                color: $gray-light;
                            }
                        }
                    }
                    &.gender,
                    &.orientation {
                        position: relative;
                        display: inline-block;
                        select {
                            display: inline-block;
                            width: 100%;
                            cursor: pointer;
                            outline: 0;
                            background: $white-color;
                            color: #7b7b7b;
                            appearance: none;
                            -webkit-appearance: none;
                            -moz-appearance: none;
                        }
                        .arrow {
                            position: absolute;
                            top: 16px;
                            right: 15px;
                            width: 0;
                            height: 0;
                            pointer-events: none;
                            border-style: solid;
                            border-width: 8px 5px 0 5px;
                            border-color: #7b7b7b transparent transparent transparent;
                        }
                        .selectize-control {
                            .selectize-input {
                                width: 100%; // border-color: $gray-light; //border-radius: 5px;
                                padding: 6px; //@include shadow-box(0, 3, 7, $gray-light);
                                //transition: margin-bottom 0.2s ease;
                                &.active {
                                    border-color: $block-shadow-color-blue; //@include shadow-box(0, 3, 7, $block-shadow-color-blue);
                                }
                                &.error {
                                    border-color: $block-shadow-color-red; //@include shadow-box(0, 3, 7, $block-shadow-color-red);
                                    margin-bottom: $indents * 1.5px;
                                }
                                &.valid {
                                    border-color: $block-shadow-color-mint; // @include shadow-box(0, 3, 7, $block-shadow-color-mint);
                                }
                            }
                            * {
                                border-color: $border-color;
                            }
                        }
                    }
                    &.subscribe,
                    &.remember {
                        width: 40%;
                        display: inline-block;
                        @include screensize(sm,min){
                        margin-left: 5%;                            
                        }
                        input {
                            vertical-align: top;
                            width: 17px;
                            height: 17px;
                            margin: 0 3px 0 0;
                        }
                        input+label {
                            cursor: pointer;
                        }
                        input:not(checked) {
                            position: absolute;
                            opacity: 0;
                        }
                        input:not(checked)+label {
                            position: relative;
                            padding: 0 0 0 35px;
                        }
                        input:not(checked)+label:before {
                            content: '';
                            position: absolute;
                            top: -3px;
                            left: 0;
                            width: 22px;
                            height: 22px;
                            border: 1px solid #CDD1DA;
                            border-radius: 50%;
                            background: #FFF;
                        }
                        input:not(checked)+label:after {
                            content: '';
                            position: absolute;
                            top: 0;
                            left: 3px;
                            width: 16px;
                            height: 16px;
                            border-radius: 50%;
                            background: $block-shadow-color-mint;
                            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .5);
                            opacity: 0;
                            transition: all .2s;
                        }
                        input:checked+label:after {
                            opacity: 1;
                        }
                        input:focus+label:before {
                            box-shadow: 0 0 0 1px $block-shadow-color-sky
                        }
                    }
                    &.subscribe {
                        @include screensize(xs,max) {
                                margin-left: 9px;
                        }
                    }
                    &.btn-restore {
                        width: 40%;
                        display: inline-block;
                        margin-left: 10%;
                    }
                }
                .sign-up-btn {
                    margin: 0 auto;
                    @include screensize(xs, max) {
                        display: block;
                    }
                }
            }
        }
    }
}


/* Tooltip container */

.parent-input {
    position: relative; //display: inline-block; // border-bottom: 1px dotted black;
    /* If you want dots under the hoverable text */
    /* Tooltip text */
    .tooltip-text {
        visibility: visible; //width: 120px; //background-color: #555;
        border: 1px solid $block-shadow-color-red; //color: #fff;
        color: $block-shadow-color-red;
        text-align: center;
        padding: 5px;
        border-radius: 6px;
        /* Position the tooltip text */
        position: absolute;
        z-index: 1;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%); //margin-left: -60px;
        /* Fade in tooltip */
        opacity: 1;
        transition: opacity 1s;
        white-space: nowrap;
        /* Tooltip arrow */
        &:after {
            content: "";
            position: absolute;
            top: -11px;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: transparent transparent $block-shadow-color-red transparent;
        }
    }
    /* Show the tooltip text when you mouse over the tooltip container */
    &:hover {
        .tooltiptext {
            visibility: visible;
            opacity: 1;
        }
    }
}

.selectize-dropdown {
    border: 1px solid $border-color !important;
}