/*@media (min-width: $screen-xs-min) {
  .container {
    &.small {
      width: 300px;
    }
  }
}*/
@media (min-width: $screen-sm-min) {
  .container-small {
      width: 650px;
  }
}
@media (min-width: $screen-md-min) {
  .container-small {
      width: 820px;
    }
  }

@media (min-width: $screen-lg-min) {
  .container-small {
      width: 1070px;
    }
}

@media (min-width: $screen-elg-min) {
  .container-small {
    width: 1170px;
  }
}