@import "../variables/index";
@import "fonts";
@import "button";
@import "tags";
.content {
  margin-top: ($indents * 4) * 1px; //width: 100%;
  //float: left;

  min-height: calc(100vh - 130px);
}

@import "../header/header";
@import "../footer/footer";
@import "../share/cookie/cookie";
@import "bootstrap";
@import "scrollbar";