button,
textarea,
input,
select {
    outline: none !important;
}

.container {
    &main {
        padding: 100px;
    }
}

a {
    color: $block-shadow-color-blue;
    &:hover {
        color: mix($block-shadow-color-blue, $black-color, 80);
    }
    &:active {
        color: mix($block-shadow-color-blue, $black-color, 60);
    }
}

.no-javascript {
    position: fixed;
    top:50px;
    text-align: center;
    width: 100%;
}