 @import "~react-select/scss/select";
 @mixin react-select($color-clear, $color-arrow) {
   $select-menu-max-height: 100px !global;
   $select-input-height: 20px !global;
   $select-input-border-width: 0 !global;
   $select-input-internal-height: ($select-input-height - ($select-input-border-width * 2)) !global; // arrow indicator
   $select-arrow-color: $color-arrow !global;
   $select-arrow-color-hover: mix($color-arrow, $black-color, 90) !global;
   $select-clear-color: $color-clear !global;
   $select-clear-hover-color: mix($color-clear, $black-color, 90) !global; // red
   $select-option-focused-bg: mix($color-arrow, $white-color, 10) !global;
 }

 @include react-select($block-shadow-color-red, $block-shadow-color-orange);