@import "~scss/variables/index";
.index-page {
	margin-top: $header-margin-top * 1px;
	.jumbotron-bg {
		position: absolute;
		width: 100%;
		height: 100%;
		/*same height as jumbotron */
		top: 0;
		left: 0;
		z-index: 1;
		background-color: rgba(0, 0, 0, 0.4);
	}
	.jumbotron {
		background: url(images/bg.jpg) no-repeat center center;
		background-size: cover;
		height: 450px;
		position: relative;
		color: white;
		text-shadow: #444 0 1px 1px;
		padding: 50px 0;
		&.isAuth {
			padding: 90px 0;
		}
		position: relative;
		transition: padding-top 0.05s ease; //background:transparent;
		color: $brand-primary;
		.box {
			margin: auto;
			position: absolute;
			left: 0;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			.hello {
				margin: 0;
			}
			.brand {
				font-family: "Fredericka the Great", cursive;
				margin: $indents * 1px;
			}
			.slogan {
				color: $brand-primary-additional;
				text-align: center;
                margin: 0 auto; 
                margin-bottom: $indents * 1px;
				max-width: 800px;
				text-align: center;
			}
			.btn {
				//font-family: 'Cantata One', serif;
				text-transform: uppercase;
				span {
					margin-right: 10px;
				}
			}
		}
		margin-bottom: 0;
	}
	.block {
		min-height: $block-height * 1px;
		.title {
			h2 {
				margin-top: 10px;
				font-size: 5rem;
			}
		}
		.wish {
			margin: 15px;
			.input-group {
				max-width: $screen-xs-min;
				margin: 0 auto;
			}
		}
	}
	.alpha-testing {
		background: url("/images/alpha-bg.jpg") center center;
		background-repeat: no-repeat;
		background-size: cover;
		.block {
			height: 100%;
			width: 100%;
			float: left;
			font-size: ($block-height / 8) * 1px;
			line-height: ($block-height / 5) * 1px;
			text-align: center;
			padding-top: (($block-height - (($block-height / 5) * 2))/3) * 1px;
			@include screensize(sm,
            max) {
				padding-top: (($block-height - (($block-height / 5) * 2))/3) *
					1px;
			}
			span {
				color: $block-shadow-color-violet;
				display: inline-block;
				vertical-align: middle;
				max-width: 100%;
				&:last-of-type {
					font-size: ($block-height / 12) * 1px;
				}
			}
		}
	}
	.ideology {
		background-color: $brand-success; //#45b43a;
		.block {
			.title {
				color: $white-color;
			}
			.col {
				padding-bottom: 15px; /// background-color: transparentize($white-color, 0.3);
				//border-radius: 50%;
				//height: ($block-height/1.55) * 1px;
				//width: ($block-height/1.55) * 1px;
				//top:($block-height / 4) *1px;
				//display: block;
				//align-content: center;
				//margin-left: auto;
				//margin-right: auto;
				//margin-top: (($block-height - $block-height/1.55) /2) * 1px;
				img {
					width: 60%;
					display: block;
					margin: 0 auto;
					vertical-align: middle;
					margin-top: 10px;
					margin-bottom: 15px;
					background-color: $gray-lighter;
					border-radius: 50%;
				}
				.text {
					color: $white-color;
					font-size: $font-size * 1.5px; //max-width: 68%;
					//margin-left: 16%;
				}
			}
		}
	}
	.rules {
		background: url("/images/rules-bg.jpg") center center;
		background-repeat: no-repeat;
		background-size: cover;
		.block {
			p {
				color: $block-shadow-color-violet;
				@include screensize(sm,
                min) {
					padding-top: (400px - 42px - 30 - 10) / 2;
				}
				@include screensize(xs,
                max) {
					padding-top: (400px - 42px - 30 - 10) / 5;
				}
				font-size: 42px;
			}
			span {
				color: $block-shadow-color-violet;
				font-size: 25px;
			}
		}
	}
	.divider {
		border-bottom: 1px solid $gray-lighter;
	}
}
